<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="750" height="420" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <audio>
    <volume default="80"/>
  </audio>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <initial_map value ="0"/>
    <background r ="60" g="240" b="225"/>
    <map directory ="map1.tmx"/>
    <map directory ="map2.tmx"/>
  </map>

  <player>
    <size width="22" height="45"/>
    <lifes numLifes="3"/>
    <acceleration jump="0.52" horizontal="0.01"/>
    <velocity max="0.22"/>
    <gravity value="0.001"/>
    <hability value="0.01"/>
  </player>
  
  <collision>
    <debug value ="false"/>
  </collision>

</config>